@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh; /* Sayfanın tamamını kaplamak için yüksekliği %100 yapıyoruz */
  /* background-position: center; */
  font-family: "Arsenal", serif !important;
  font-weight: 700;
  /* background-color:#D8E0F2; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
    margin-top: 180px !important; /* Navbar'ın yüksekliği kadar boşluk bırakın */
    background-color: rgb(249, 243, 232) !important;
}
.ad{
  background-color: rgb(177, 232, 199);
  position: fixed;  /* Sabit pozisyon */
  top: 0;           /* Sayfanın üst kısmına sabitler */
  left: 0;          /* Sayfanın sol kısmına sabitler */
  width: 100%;      /* Navbar'ın tüm genişliği kaplamasını sağlar */
  z-index: 999;
}
.navbar{
  background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgb(129, 196, 156) 51.5%, rgba(255,252,247,1) 88.6% );
}

.ad p{
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 20s linear infinite; 
  font-size: 1 rem; /* Yazı boyutunu ihtiyaca göre ayarlayabilirsiniz */
}

@keyframes scroll-text {
  0% {
    transform: translateX(-100%);  /* Başlangıç noktası sağda */
  }
  100% {
    transform: translateX(100%);  /* Son nokta solda */
  }
}
/* .container {
  background-image: url("https://wallpapers.com/images/hd/blank-crumpled-paper-ce2xfk1vk85mutcp-ce2xfk1vk85mutcp.webp");

  margin: 3rem auto;
  max-width: 950px;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 5px;
} */
.dr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
}
.dr img {
  cursor: pointer;
  padding: .2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  object-fit: cover 
}

/* 2. sayfadaki kayıt oluştur butonu */
.kayitBtn {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #25ad69;
  width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #6a0707;
  border-radius: 50px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

/*! data daki isDone kısmı false iken görünecek stil */
.falseStyle {
  display: flex;
  justify-content: space-between;
  background-color:#c7baf8;
  margin: 5px;
  padding: 10px 40px;
  cursor: pointer;
}
.falseStyle h2 {
  color: green;
}
.falseStyle h3 {
  color: #152bbb;
}
/*! data daki isDone kısmı true iken görünecek stil */
.trueStil {
  display: flex;
  justify-content: space-between;
  border-left: 10px solid #2037b9;
  background-color: #553DF2;
  padding: 10px 20px;
}

.trueStil h3,
.trueStil h2 {
  text-decoration: line-through;
  color: blue;
}
.doctorBtn + h4 {
  padding: 10px 20px;
/* doctorBtn className li img den sonraki h4 doktor isimleri */
  
}
/* 
color: #E7BDF2; 
color: #DAA0F2; 
color: #D8E0F2; 
color: #056CF2; 
color: #88DFF2; */